/* CommentComponent.css */

/* Style de la sidebar */
.comment-sidebar {
  width: 300px; /* Largeur de la sidebar */
  height: 100%; /* Hauteur prenant toute la hauteur disponible */
  background-color: #f8f9fa; /* Couleur de fond de la sidebar */
  position: fixed; /* Position fixe */
  top: 0; /* Alignement en haut */
  right: 0; /* Alignement à droite */
  padding: 10px; /* Espacement intérieur */
  box-shadow: -1px 0 6px rgba(0, 0, 0, 0.1); /* Ombre à gauche */
  z-index: 1000; /* Met la sidebar au-dessus du contenu principal */
}

/* Style de la liste des commentaires */
.comment-list {
  list-style: none; /* Pas de style de liste */
  padding: 0; /* Aucun espacement autour de la liste */
  max-height: 90vh; /* Hauteur maximale de la liste */
  overflow-y: auto; /* Ajoute une barre de défilement si nécessaire */
}

/* Style d'une carte de commentaire */
.comment-card {
  margin-bottom: 20px; /* Espacement entre les commentaires */
  margin-right: 20px;
  margin-left: 0px;
  border-radius: 8px; /* Coins arrondis */
  padding: 15px; /* Espacement intérieur */
  background-color: #fff; /* Couleur de fond de la carte */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Ombre */
}

.comment-text {
  margin-right: 10px; /* Ajout d'un espace à droite */
  color: #333; /* Couleur du texte */
  font-size: 14px; /* Taille de la police */
}
.comment-content {
  display: inline-block; /* Afficher les éléments en ligne */
  vertical-align: middle; /* Aligner verticalement les éléments */
}

.reply-button {
  background-color: #f8f9fa; /* Couleur de fond gris clair */
  color: #555; /* Couleur du texte gris foncé */
  border: 1px solid #ced4da; /* Bordure */
  padding: 8px; /* Espacement interne */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur de souris pointer */
  vertical-align: middle; /* Aligner verticalement */
}

/* Style du champ de saisie de réponse */
.reply-input input {
  width: calc(100% - 90px); /* Largeur du champ de saisie moins la largeur du bouton */
  padding: 10px; /* Espacement interne */
  border: 1px solid #ced4da; /* Bordure grise */
  border-radius: 5px; /* Coins arrondis */
  margin-bottom: 10px; /* Espacement sous le champ de saisie */
}

/* Style du bouton de soumission de réponse */
.reply-input .submit-button {
  padding: 8px 12px; /* Espacement interne */
  background-color: #007bff; /* Couleur de fond bleue */
  color: #fff; /* Couleur du texte blanc */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur de souris pointer */
  margin-left: 10px;
}

/* Style du champ de saisie de commentaire */
.comment-input input {
  width: calc(100% - 100px); /* Largeur du champ de saisie moins la largeur du bouton */
  padding: 10px; /* Espacement interne */
  border: 1px solid #ced4da; /* Bordure grise */
  border-radius: 5px; /* Coins arrondis */
  margin-right: 10px; /* Espacement à droite */
  margin-bottom:20px; /* Espacement à droite */

}

/* Style du bouton de soumission de commentaire */
.submit-button {
  padding: 10px 20px; /* Espacement interne */
  background-color: #007bff; /* Couleur de fond bleue */
  color: #fff; /* Couleur du texte blanc */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur de souris pointer */
}

/* Style de l'image de profil */
.profile-image {
  width: 40px; /* Largeur de l'image */
  height: 40px; /* Hauteur de l'image */
  border-radius: 50%; /* Rendre l'image ronde */
  overflow: hidden; /* Cacher toute partie de l'image qui dépasse du cadre */
  margin-right: 10px; /* Espacement à droite */
}

.profile-image img {
  width: 100%; /* S'assurer que l'image remplit complètement le conteneur */
  height: 100%; /* S'assurer que l'image remplit complètement le conteneur */
  object-fit: cover; /* Redimensionner l'image pour remplir le conteneur tout en préservant ses proportions */
}
